
:root {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    --font: hsl(0, 0%, 100%);
    --background: hsl(270, 100%, 66%);
    --accentColor: hsl(180, 69%, 57%);
    background-color: var(--background);
    color: var(--font);
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 8px;
  background-color: var( --background);
}
body::-webkit-scrollbar-thumb {
  background-color: var( --accentColor);
  border-radius: 35px;
}
header {
  display: flex;
  height: 100vh;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav {
  padding: 2rem;
  position: absolute;
  top: 0;
}
nav ul li:nth-child(2) {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  margin-top: 1rem;
}
.socials {
  padding: 2rem;
}
.socials a {
  font-family: 'Anton', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.015em;
  border-bottom: solid 1px;  
}
.socials p {
  margin-top: .1rem;
  padding-top: .2rem;
  font-weight: 100;
}
a {
  text-decoration: none;
  color: var(--font);
}
address {
  font-style: normal;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.title {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
h1 {
  font-family: 'Anton', sans-serif;
  font-size: 5rem;
  line-height: 85%;
  letter-spacing: 0.015em;
  text-align: center;
  margin: 0;
}
.tagline {
  font-weight: 300;
  font-size: 1.6rem;
  margin: 0 1rem;
  z-index: 1;
}

.actions {
  align-self: flex-end;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.scroll-tip {
  writing-mode: vertical-lr;
  margin: 0;
  margin-bottom: 2rem;
  align-self: flex-end;
  font-weight: 100;
}
.arrow-down {
  align-self: flex-end;
  border: solid currentColor;
  border-width: 0 2px 2px 0;
  padding: 3px;
  transform: rotate(45deg);
  margin: 0 6px 20px 0;
}
.arrow-line {
  width: 70px;
  border: solid 1px currentColor;
  transform: rotate(90deg);
  position: absolute;
  right: 6px;
  top: 3px;
}

.svg-icon {
  display: inline-block;
  /* Place the icon on the text baseline. */
  position: relative;
  /* Prevent the icon from shrinking inside a flex container. */
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  /* Let the icon take whatever color the parent has. */
  fill: currentColor;
}
.section-title {
  font-weight: 300;
  border-bottom: solid 1px;
  align-self: flex-start;
  padding-left: 2rem;
  padding-top: 2rem;
}

.section {
  min-height: 100vh;
}

/* === about section === */


/* === work section === */

.projects {
  display: flex;
  justify-content: center;
  padding: 7rem 2rem;
}
.projects_odd {
  flex-direction: row-reverse;
}
.project-card {
  padding-right: 2rem;
  max-width: 470px;
}
.project-card_odd {
  padding-right: 0;
  padding-left: 2rem;
  text-align: right;
}
.project-title {
  font-size: 3rem;
  font-family: 'Anton', sans-serif;  
  line-height: 85%;
  letter-spacing: -0.015em;
  text-align: left;
  margin: 0;
}
.project-title_odd {
  text-align: right;
}
.project-sum {
  font-weight: 100;
  margin: 3rem 0;
}
.project-links {
  display: flex;
  justify-content: space-around;
}
.project-links a {
  border-bottom: 1px solid currentColor;
  margin-right: .5rem;
}

.video-desktop {
  max-width: 600px;
  border: .5rem solid currentColor;
  border-radius: 3px; 
}
.video-mobile {
  max-height: 400px; 
  border: .2rem solid currentColor;
  border-radius: 15px; 
}
video {
  align-self: center;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0;
}
.stack_odd {
  justify-content: flex-end;
}
.stack-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 3.5rem;
}

.stack-key {
  font-weight: 100;
  font-size: .8rem;
  text-align: center;
}
.svg-stack {
  position: relative;
  /* Prevent the icon from shrinking inside a flex container. */
  flex-shrink: 0;
  height: 2rem;
  width: 2rem;
  /* Let the icon take whatever color the parent has. */
  fill: currentColor;
}
footer {
  display: flex;
}

footer * {
  margin: 1rem;
}

.navbar-icon {
  margin: 0;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 999;
  cursor: pointer;
  visibility: hidden;
  display: inline-block;
  flex-shrink: 0;
  height: 2rem;
  width: 2rem;
  fill: var(--accentColor);
}


@media screen and (min-width: 1600px) {
  h1 {
    font-size: 9rem;
  }
  h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .header {
    position: relative;
  }
  .navbar-icon {
    visibility: visible;
  }
  .d-none {
    display: none;
  }
  .actions {
    position: absolute;
    right: 0;
  }
  .projects {
    flex-direction: column;
  }

  /* === Mobile navbar toggle styles === */
  .social {
    flex: 50%;
  }
.toggle-navbar-icon {
  fill: var(--font);
}
.toggle-menu {
  z-index: 998;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--accentColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  }
.toggle-navbar {
  text-align: right;
  padding-top: 6rem;
  position: static;
}
.toggle-navbar ul li {
  margin-bottom: 1rem;
  font-size: 5rem;
}
.toggle-navbar ul li:nth-child(2) {
  writing-mode: horizontal-tb;
  transform: rotate(0deg);
}
.toggle-socials {
  align-self: flex-start;
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
}
.lockScroll {
  overflow: hidden;
}
}

@media screen and (max-width: 350px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  .toggle-navbar ul li {
    font-size: 3rem;
  }
}
