:root {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  --font: hsl(0, 0%, 0%);
  /* --font: hsl(0, 0%, 100%); */
  --background: hsl(0, 0%, 100%);
  /* --background: hsl(0, 0%, 90%); */
  /* --background: hsl(231, 96%, 43%); */
  /* --accentColor: black; */
  --accentColor: hsl(331, 100%, 58%);
  background-color: var(--background);
  color: var(--font);
}
/* * {
  border: solid red 1px;
} */
address {
  font-style: normal;
}
p {
  font-weight: 300;
}
a {
  text-decoration: none;
  color: currentColor;
}
html {
  scroll-behavior: smooth;
}
body {
  scroll-behavior: smooth;
  max-width: 1250px;
  padding: 2rem;
  margin: 75px auto;
}
* {
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  width: 9px;
  background-color: var(--background);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--accentColor);
  border-radius: 35px;
}
header {
  display: flex;
  /* height: 60vh; */
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-left: 10vw; */
}
h1 {
  font-size: 3rem;
  font-weight: 600;
  /* line-height: 85%; */
  /* letter-spacing: 0.015em; */
  margin: 0;
}
.title p {
  font-size: 1rem;
}
.logo {
  /* position: fixed; */
  top: 2rem;
  /* right: 2rem; */
  z-index: 999;
}
svg {
  display: inline-block;
  flex-shrink: 0;
  fill: currentColor;
}
.svg-logo {
  height: 5rem;
}
.svg-icon {
  position: relative;
  height: 1.2rem;
  width: 1.2rem;
}
.socials {
  /* padding: 2rem; */
  min-width: 230px;
  display: flex;
  justify-items: flex-start;
  flex-wrap: wrap;

  /* flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right; */
}
.social {
  /* margin-right: 1; */
  padding: 2rem 3rem 0 0;
  position: relative;
  /* margin-bottom: 1.2rem; */
  text-transform: lowercase;
}
.social a {
  transition: font 0.3s ease-out;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid currentColor;
}
.social a::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.social a:hover {
  font-size: 1.1rem;
}
.social a svg {
  visibility: hidden;
  transition: all 0.2s ease-out;
  margin-left: 0.5rem;
  position: absolute;
}

.social a:hover svg {
  visibility: visible;
  transform: scale(1.2);
}
/* .socials p {
  margin: 0;
  padding-top: 0.5rem;
  font-weight: 100;
} */
.button {
  border: 1px solid currentColor;
  padding: 0.5rem 1rem 0.5rem 1.7rem;
  text-transform: uppercase;
  transition: all 0.1s ease-out;
  font-size: 0.7rem;
  /* position: absolute; */
  /* bottom: 2rem; */
  /* right: 2rem; */
}
.button svg {
  height: 0.7rem;
  width: 0.7rem;
  visibility: hidden;
  transition: all 0.1s ease-out;
}
.button:hover,
.button:focus {
  box-shadow: 2px 2px 0px currentColor;
}
.button:hover svg,
.button:focus svg {
  visibility: visible;
}
.button:visited {
  filter: saturate(0.5);
}
.button:active {
  transform: scale(0.9);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hello {
  animation: hello linear 1.2s infinite;
  transform-origin: 50% 100%;
  animation-fill-mode: forwards;
}
@keyframes hello {
  0%,
  100% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(25deg);
  }
}
.tip {
  display: flex;
  flex-direction: column;
  animation: scroll linear 1.2s infinite;
  align-items: center;
  width: 5px;
  height: 100px;
}

.scroll-tip {
  writing-mode: vertical-lr;
  font-weight: 100;
  margin-top: 2rem;
}
@keyframes scroll {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}
.section-title {
  font-weight: 500;
  /* border-bottom: solid 1px; */
  padding-top: 2rem;
}

.section {
  padding: 5rem 0;
}
.section-title:hover {
  font-weight: 600;
}
.section-title:active {
  border-color: none;
}

/* === about section === */

.about {
  columns: 2;
  column-gap: 4rem;
  padding-top: 3rem;
}
.about p {
  margin: 0;
  line-height: 2rem;
  margin-bottom: 2rem;
}
.about p span {
  font-weight: 500;
}
.ilustration {
  width: 10rem;
  display: inline-block;
  position: relative;
  margin-bottom: -10px;
}
.link {
  font-weight: 400;
}
.link:hover {
  text-decoration: underline;
}
.cta-wrapper {
  display: flex;
  justify-content: flex-end;
}
.cta {
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  letter-spacing: 0.015em;
  color: var(--accentColor);
  margin: 0 2rem 4rem;
  text-align: right;
  max-width: 600px;
}
.cta a:hover {
  font-size: 2.2rem;
}
/* === work section === */

.projects {
  display: flex;
  justify-content: center;
  /* padding: 4rem 2rem; */
  border-radius: 3px;
}
.projects + .projects {
  margin: 4rem 0;
}
.projects_odd {
  flex-direction: row-reverse;
}
.project-card {
  padding-right: 2rem;
  max-width: 545px;
}
.project-card_odd {
  padding-right: 0;
  padding-left: 2rem;
  text-align: right;
}
.project-title {
  font-size: 3rem;
  font-family: 'Anton', sans-serif;
  line-height: 85%;
  letter-spacing: -0.015em;
  text-align: left;
  margin: 0;
}
.project-title_odd {
  text-align: right;
}
.project-role {
  font-weight: 100;
  font-size: 1.5rem;
}
.project-sum {
  margin-top: 2rem;
}
.project-card p:last-of-type {
  margin-bottom: 2rem;
}
.project-links {
  display: flex;
}
.project-links_odd {
  justify-content: flex-end;
}
.project-links_even a:nth-child(2) {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.project-links_odd a:first-child {
  margin-right: 0.5rem;
}
.project-links a {
  background-color: var(--accentColor);
  padding: 0.5rem;
  border-radius: 3px;
}
.project-links a:hover {
  background-color: var(--background);
}
.project-links a:focus {
  background-color: var(--background);
}
.project-links a:active {
  background-color: var(--background);
  font-weight: 100;
}

.video-desktop {
  max-width: 600px;
  border-radius: 3px;
  align-self: center;
}
video {
  display: block;
}
.video-mobile {
  max-height: 400px;
  min-width: 200px;
  border-radius: 30px;
  align-self: center;
}
.stack {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0;
}
.stack_odd {
  justify-content: flex-end;
}
.stack-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 4rem;
}

.stack-key {
  font-weight: 100;
  font-size: 0.9rem;
  text-align: center;
}
.svg-stack {
  position: relative;
  height: 3rem;
  width: 3rem;
}
.work-section {
  position: relative;
}
.work-section::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 28px 28px 0 28px;
  border-color: var(--background) transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}

/* === footer section === */

footer {
  padding-top: 4rem;
}
.footer-main {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.footer-CTA {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  text-transform: lowercase;
}
.footer-CTA p:first-of-type {
  margin-bottom: 0;
}
.footer-CTA p {
  font-weight: 100;
}
.footer-CTA a {
  font-size: 1rem;
  letter-spacing: 0.015em;
}
.up {
  position: relative;
  height: 2rem;
  width: 2rem;
  margin-right: 4rem;
}
.copyright {
  text-align: right;
  margin: 2rem;
  font-size: 0.8rem;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 1.5rem;
  }
  .about {
    columns: unset;
  }
  .about p {
    font-size: 1.5rem;
  }
  .projects {
    flex-direction: column;
    padding: 4rem 2rem;
  }
  .projects_odd {
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  .navbar-icon {
    visibility: visible;
  }
  .d-none {
    display: none;
  }
  /* .marquee {
    display: flex;
    overflow: hidden;
  }
  .socials {
    white-space: nowrap;
    will-change: transform;
    animation: marquee 10s linear infinite;
    margin: 0;
    animation-delay: 0.5s;
    padding-left: 100%;
  }
  .socials .social:hover {
    animation-play-state: paused;
  }
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  } */
  .about p {
    font-size: 1rem;
  }
  .footer-main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .up {
    align-self: flex-end;
    margin-top: -1.5rem;
  }
  /* === Mobile navbar toggle styles === */
}

@media screen and (max-width: 350px) {
  /* h1 {
    font-size: 3.5rem;
  } */
  h2 {
    font-size: 1rem;
  }
}
